@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root{
    --green:#27ae60;
    --orange:#f39c12;
    --red:#e74c3c;
    --black:#333;
    --blue: #2f6cc6;
    --green1: #00ab66;
    --red1:#dc210e;
    --moreblack: #222;
    --light-color:#666;
    --white:#fff;
    --light-bg:#f6f6f6;
    --white-light:#f2f2f2;
    --border:.3rem solid rgba(0, 0, 0, 0.47);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
 }

* {
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    box-sizing: inherit;
  }

html {
    background-color: var(--moreblack);
}
body {
    background-color: var(--moreblack);
}

.container {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 58rem;
    top: 2rem;
}

.title {
    margin-bottom: 2rem;
}

.title h1 {
    color: #ddd;
    text-transform: uppercase;
}

.tableau-style {
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0,15);
    font-size: 1.2rem;
}

th{
    padding: auto;
    padding: 1rem;
    border: .1rem solid #ddd;
}

th.top-th {
    background-color: var(--green);
    padding: 1rem;
    text-transform: uppercase;
}

tr,td {
    padding: .2rem 3rem;
    background-color: #666;
    border: 1px solid #ddd;
    color: #fff;
}

td {
    height: 4rem;
}

td a {
    color: #fff;
    background-color: rgba(51, 51, 51, 0.639);
    text-decoration: none;
}

.btn-add {
    margin-bottom: 2rem;
    padding: .5rem;
    width: 11rem;
    background-color: var(--blue);
    border: 2px outset #fff;
    border-radius: 1rem;
    color: #fff;
    transition: .3s;
    
}

.btn-add:hover {
    background-color: #0c49a3;
}

.btn-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3rem;
    width: 6rem;
    height: 2rem;
    background-color: var(--green1);
    border: 2px outset #fff;
    border-radius: 1rem;
    color: #fff;
    transition: .3s;
}

.btn-edit:hover {
    background-color: #047246;
    color: #fff;
}

.btn-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3rem;
    width: 7rem;
    height: 2rem;
    background-color: var(--red1);
    border: 2px outset #fff;
    border-radius: 1rem;
    color: #fff;
    transition: .3s;
}

.btn-delete:hover {
    background-color: #a71404;
    color: #fff;
}

td.td-edit-delete{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    --bs-gutter-x: 17rem;
}

.form-control {
    width: 50%;
    background-color: #fff;
    margin-left: 40px;
}

.modal-header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #bbbcbd;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
  }

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: var(--white-light);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
  }
  .modal-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: .75rem;
    border-top: 1px solid #bbbcbd;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius: calc(.3rem - 1px);
  }

  p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--black);
  }
  .h2, h2 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--black);
  }

  .h5, h5 {
    font-size: 1.25rem;
    color: var(--black);
    font-weight: 700;
  }

.table {
    width: 118%;
    margin-left: -2rem;
}

/* CSS pour le formulaire add_reservation */

/* Pour placer le titre Add Reservation au centre du formulaire */
.modal .modal-dialog .modal-content .modal-header h5.modal-title {
    margin-left: auto;
    text-align: center;
}

/* CSS pour le titre au dessus des listes déroulantes 
du formulaire pour ajouter une réservation  */
.modal .modal-dialog .modal-content .modal-body .mb-3 label.col-sm-2 {
    font-weight: 700;
    margin-left: 40px;
}

/* CSS pour les select sur le formulaire de add_reservation */
.modal .modal-dialog .modal-content .modal-body .mb-3 .col-sm-10 select {
    font-size: 18px;
    width: 60%;
    background-color: rgba(166, 166, 166, 0.689);
    margin-left: 40px;
}

/* CSS pour le checkbox dans le formulaire de add_reservation */
.modal .modal-dialog .modal-content .modal-body .mb-3 .col-sm-10 input[type='checkbox'] {
    width: 20px;
    height: 20px;
    margin-left: 40px;
    cursor: pointer;
    display: grid;
    place-content: center;
}

/* .modal .modal-dialog .modal-content .modal-body .mb-3 .col-sm-10 input[type='checkbox']::before {
    content: "";
    width: 0.75em;
    height: 0.75em;
    transform: scale(0);
    transition: 120ms ease-in-out;
    box-shadow: inset 1em 1em var(--green1);
}

.modal .modal-dialog .modal-content .modal-body .mb-3 .col-sm-10 input[type='checkbox']:checked::before {
    transform: scale(1);
} */






