@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root{
    --green:#27ae60;
    --orange:#f39c12;
    --red:#e74c3c;
    --black:#333;
    --blue: #2f6cc6;
    --green1: #00ab66;
    --red1:#dc210e;
    --moreblack: #222;
    --light-color:#666;
    --white:#fff;
    --light-bg:#f6f6f6;
    --border:.3rem solid rgba(0, 0, 0, 0.47);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
 }

* {
    margin: 0;
    padding: 0;
}
*, ::after, ::before {
    box-sizing: inherit;
  }

html {
    background-color: var(--moreblack);
}
body {
    background-color: var(--moreblack);
}

.container {
    font-family: 'Poppins', sans-serif;
    position: relative;
    width: 40rem;
    top: 2rem;
}

.title {
    margin-bottom: 2rem;
}

.title h1 {
    color: #ddd;
    text-transform: uppercase;
}

.tableau-style {
    border-collapse: collapse;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0,15);
    font-size: 1.2rem;
}

th{
    padding: auto;
    padding: 1rem;
    border: .1rem solid #ddd;
    background-color: var(--green);
}

tr,td {
    padding: .2rem 3rem;
    background-color: #666;
    border: 1px solid #ddd;
    color: #fff;
}

td {
    width:  4rem;
    height: 2rem;
}

td a {
    color: #fff;
    background-color: rgba(51, 51, 51, 0.639);
    text-decoration: none;
}

.btn-add {
    margin-bottom: 2rem;
    padding: .5rem;
    background-color: var(--blue);
    border: 2px outset #fff;
    border-radius: 1rem;
    color: #fff;
    transition: .3s;
}

.btn-add:hover {
    background-color: #0c49a3;
}

.btn-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3rem;
    width: 5rem;
    height: 2rem;
    background-color: var(--green1);
    border: 2px outset #fff;
    border-radius: 1rem;
    color: #fff;
    transition: .3s;
}

.btn-edit:hover {
    background-color: #047246;
    color: #fff;
}

.btn-delete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .3rem;
    width: 5rem;
    height: 2rem;
    background-color: var(--red1);
    border: 2px outset #fff;
    border-radius: 1rem;
    color: #fff;
    transition: .3s;
}

.btn-delete:hover {
    background-color: #a71404;
    color: #fff;
}
.row {
    --bs-gutter-x: 17rem;
  }