@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root{
    --green:#27ae60;
    --orange:#f39c12;
    --red:#e74c3c;
    --black:#333;
    --blue: #2f6cc6;
    --green1: #00ab66;
    --red1:#dc210e;
    --moreblack: #222;
    --light-color:#666;
    --white:#fff;
    --light-bg:#f6f6f6;
    --white-light:#f2f2f2;
    --border:.3rem solid rgba(0, 0, 0, 0.47);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

* {
    margin: 0%;
    padding: 0%;
}

body  {
    background-color: var(--moreblack);
}