@import url('https://fonts.googleapis.com/css2?family=Poppins');

:root{
    --green:#27ae60;
    --orange:#f39c12;
    --red:#e74c3c;
    --black:#333;
    --blue: #2f6cc6;
    --green1: #00ab66;
    --red1:#dc210e;
    --moreblack: #222;
    --light-color:#666;
    --white:#fff;
    --light-bg:#f6f6f6;
    --white-light:#f2f2f2;
    --border:.3rem solid rgba(0, 0, 0, 0.47);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body  {
    background-color: var(--moreblack);
}

header {
    background-color: #666;
    margin: 0 0 15px 0;
    padding: 0 0 15px 0;
}

header img {
    height: 120px;
    width: 170px;
    border-radius: 60px;
    margin: 15px 0 0 25px;
}

header h4 {
    color: var(--white);
    float: right;
    margin: 15px 25px 0 0;
}

.title-page {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
    /* Place le text au centre de la page */
    text-align: center;
    /* Met le text en majuscule */
    text-transform: uppercase;

}

section .title-image h3 {
    color: var(--white-light);
    text-align: center;
    margin-bottom: 3px;
}

section .Rochelle .title-image {
    /* Permet de laisser de la marge pa rapport à l'élément */
    padding: 7% 13%;
    /* Permet de mettre un élément flottant à gauche */
    float: left;
}

section .Rousses .title-image {
    padding: 7% 13%;
    /* Permet de mettre un élément flottant à droite */
    float: right;
}

section .Saint-Antheme .title-image {
    padding: 7% 13%;
    float: left;
    /* Permet de laisser de la marge par rapport au top (haut de la page) */
    margin-top: -130px;
}

section .Villefort .title-image {
    padding: 7% 13%;
    float: right; 
    margin-top: -130px;
}

section .Rochelle .title-image img {
    /* Modifie les pixels en hauteur */
    height: 300px;
    /* Modifie les pixels en largeur */
    width: 400px;
    /* Avoir des sommets arrondies */
    border-radius: 10px;
}

section .Rousses .title-image img {
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

section .Saint-Antheme .title-image img {
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

section .Villefort .title-image img {
    height: 300px;
    width: 400px;
    border-radius: 10px;
}

section .title-image a {
    display: flex;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
    color: #00ab66;
    background-color: #333;
    padding: 3px;
    width: 120px;
    border-radius: 4px;
    justify-content: center;
}

section .title-image a:hover {
    background-color: #00ab66;
    color: #333;
    transition: all .3s;
}

.link {
    display: flex;
    justify-content: center;
    text-align: center;
}