@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
}

.container .content {
    text-align: center;
}

.container .content h3 {
    font-size: 30px;
    color: #333;
}

.container .content h3 span {
    background: crimson;
    color: #fff;
    border-radius: 5px;
    padding: 0 15px;
}

.container .content h1 {
    font-size: 50px;
    color: #333;
}

.container .content h1 span {
    color: crimson;
}

.container .content p {
    font-size: 25px;
    margin-bottom: 20px;
}

.container .content .btn {
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    background: #333;
    color: #fff;
    margin: 0 5px;
    text-transform: capitalize;
}

.container .content .btn:hover {
    background: crimson;
}

.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container form {
    width: 50rem;
    background-color: var(--white);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    text-align: center;
    padding: 2rem;
}

.form-container form h3 {
    font-size: 3rem;
    color: var(--black);
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.form-container form .box {
    width: 100%;
    margin: 1rem 0;
    border-radius: .5rem;
    border: var(--border);
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    background-color: var(--light-bg);
}

.form-container form input,
.form-container form select {
    width: 100%;
    padding: 10px 15px;
    font-size: 17px;
    margin: 8px 0;
    background: #eee;
    border-radius: 5px;
}

.form-container form select option {
    background: #fff;
}

.form-container form .form-btn {
    background: #fbd0d9;
    color: crimson;
    text-transform: capitalize;
    font-size: 20px;
    cursor: pointer;
}

.form-container form .form-btn:hover {
    background: crimson;
    color: #fff;
}

.form-container form p {
    margin-top: 2rem;
    font-size: 2.2rem;
    color: var(--light-color);
}

.form-container form p a {
    color: crimson;
}

.form-container form .error-msg {
    margin: 10px 0;
    display: block;
    background: crimson;
    color: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
}

table {
    margin: 50px;
    border-collapse: collapse
}

td {
    border: 1px solid black;
    padding: 15px;
}

.header {
    background: var(--white);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

.header .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.header .icons {
    font-size: 2.5rem;
    cursor: pointer;
    color: black;
}

.header .icons:hover {
    color: #eacf4f;
}

.header #menu-btn {
    display: none;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 2rem;
    color: var(--light-color);
}

.header .navbar a:hover {
    text-decoration: underline;
    color: var(--green);
}

.header .navbar .space {
    display: inline-block;
    width: 16rem;
}

.form-reservation {
    min-height: 100vh;
    display: flex;
    align-items: 60px;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: #eee;
}

.form-client {
    min-height: 100vh;
    display: flex;
    align-items: 60px;
    justify-content: center;
    padding: 20px;
    padding-bottom: 60px;
    background: #eee;
}